In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
url=r'https://raw.githubusercontent.com/anantdivanji/LearnDigital-/main/4th%20Sem/data.txt'

In [3]:
data=pd.read_csv(url,sep='|')
data.head()

,Unnamed: 0,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Unnamed: 7
0,NaN,----------,----------,----------,----------,----------,----------,NaN
1,NaN,1,A,3.14,10,Apple,True,NaN
2,NaN,2,B,,20,,False,NaN
3,NaN,3,C,2.718,,Banana,True,NaN
4,NaN,,D,1.414,30,Orange,,NaN

In [4]:
data=data.drop(columns=['Unnamed: 0','Unnamed: 7'])

In [5]:
data

     Column 1    Column 2    Column 3    Column 4     Column 5    Column 6
0   ----------  ----------  ----------  ----------   ----------  ----------
1    1           A           3.14        10           Apple       True
2    2           B                       20                       False
3    3           C           2.718                    Banana      True
4                D           1.414       30           Orange
5    5           E                                                False
6    6           F           3.0         40           Pear        True
7    7                       2.0                                  False
8    8           H           1.0         50           Grape       True
9    9           I                       60
10   10          J           0.5         70           Pineapple   False
11   11          K                                                True
12   12          L           4.0         80           Coconut
13   13          M           5.0                                  True
14   14          N                       90           Mango       False
15   15          O           6.0                                  True
16   16          P           7.0         100          Papaya      False
17   17          Q                       110                      True
18   18          R           8.0         120          Kiwi        False
19   19          S                                                True
20   20          T           9.0         130         Watermelon   False

In [6]:
data=data.drop(0)

In [7]:
data[' Column 6 ']

1      True
2      False
3      True
4
5      False
6      True
7      False
8      True
9
10     False
11     True
12
13     True
14     False
15     True
16     False
17     True
18     False
19     True
20     False
Name:  Column 6 , dtype: object

In [8]:
X=data.drop(columns=[' Column 6 ',' Column 5 ',' Column 2 '])
X

     Column 1    Column 3    Column 4
1    1           3.14        10
2    2                       20
3    3           2.718
4                1.414       30
5    5
6    6           3.0         40
7    7           2.0
8    8           1.0         50
9    9                       60
10   10          0.5         70
11   11
12   12          4.0         80
13   13          5.0
14   14                      90
15   15          6.0
16   16          7.0         100
17   17                      110
18   18          8.0         120
19   19
20   20          9.0         130

In [9]:
y=pd.get_dummies(data[' Column 6 '],dtype='int',drop_first=True)#.drop(columns='False')
y=y.drop(columns=' False    ')
y

     True
1            1
2            0
3            1
4            0
5            0
6            1
7            0
8            1
9            0
10           0
11           1
12           0
13           1
14           0
15           1
16           0
17           1
18           0
19           1
20           0

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [12]:
X_train

     Column 1    Column 3    Column 4
4                1.414       30
3    3           2.718
8    8           1.0         50
9    9                       60
13   13          5.0
12   12          4.0         80
2    2                       20
1    1           3.14        10
14   14                      90
20   20          9.0         130
15   15          6.0
18   18          8.0         120
10   10          0.5         70
16   16          7.0         100
7    7           2.0
6    6           3.0         40

In [13]:
X_test

     Column 1    Column 3    Column 4
17   17                      110
19   19
5    5
11   11

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
lr=LogisticRegression()
lr

LogisticRegression()

In [16]:
lr.fit(X,y)

ValueError: could not convert string to float: '          '

# To apply machine learning, we need to make sure that the data will not have-

### 1.missing values
### 2.string values