In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=r"C:\Users\RDP23\Desktop\lakshmidataset1.csv"

In [3]:
dt=pd.read_csv(data)
dt

    Name  Age  Gender    Country    Occupation
0  Alice   30  Female        USA      Engineer
1    Bob   25    Male     Canada       Teacher
2  Carol   40  Female         UK        Doctor
3  David   35    Male  Australia        Lawyer
4  Emily   28  Female    Germany     Scientist
5  Frank   45    Male     France        Artist
6  Grace   33  Female      Italy  Entrepreneur
7  Henry   38    Male      Japan     Architect
8   Iris   31  Female      Spain    Programmer
9   Jack   29    Male     Brazil          Chef

In [4]:
X=dt.drop(columns='Occupation')

In [5]:
X

    Name  Age  Gender    Country
0  Alice   30  Female        USA
1    Bob   25    Male     Canada
2  Carol   40  Female         UK
3  David   35    Male  Australia
4  Emily   28  Female    Germany
5  Frank   45    Male     France
6  Grace   33  Female      Italy
7  Henry   38    Male      Japan
8   Iris   31  Female      Spain
9   Jack   29    Male     Brazil

In [6]:
y=dt['Occupation']

In [7]:
y

0        Engineer
1         Teacher
2          Doctor
3          Lawyer
4       Scientist
5          Artist
6    Entrepreneur
7       Architect
8      Programmer
9            Chef
Name: Occupation, dtype: object

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [10]:
X_train

    Name  Age  Gender    Country
2  Carol   40  Female         UK
5  Frank   45    Male     France
1    Bob   25    Male     Canada
4  Emily   28  Female    Germany
7  Henry   38    Male      Japan
6  Grace   33  Female      Italy
0  Alice   30  Female        USA
3  David   35    Male  Australia

In [11]:
X_test

   Name  Age  Gender Country
8  Iris   31  Female   Spain
9  Jack   29    Male  Brazil

In [12]:
y_train

2          Doctor
5          Artist
1         Teacher
4       Scientist
7       Architect
6    Entrepreneur
0        Engineer
3          Lawyer
Name: Occupation, dtype: object

In [13]:
y_test

8    Programmer
9          Chef
Name: Occupation, dtype: object

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
lr=LogisticRegression()
lr

LogisticRegression()

In [16]:
#lr.fit(X_train,y_train) #training phase

In [17]:
#y_pred=lr.predict(X_test) #prediction phase

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
#accuracy_score(y_pred,y_test) #accuracy phase

In [20]:
url=r"https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"

In [21]:
data1=pd.read_csv(url)
data1.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [22]:
X=data1.drop(columns='variety')

In [23]:
X

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [24]:
y=data1['variety']

In [25]:
y

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [26]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [27]:
X_train

     sepal.length  sepal.width  petal.length  petal.width
33            5.5          4.2           1.4          0.2
116           6.5          3.0           5.5          1.8
3             4.6          3.1           1.5          0.2
141           6.9          3.1           5.1          2.3
9             4.9          3.1           1.5          0.1
..            ...          ...           ...          ...
8             4.4          2.9           1.4          0.2
45            4.8          3.0           1.4          0.3
121           5.6          2.8           4.9          2.0
16            5.4          3.9           1.3          0.4
146           6.3          2.5           5.0          1.9

[120 rows x 4 columns]

In [28]:
X_test

     sepal.length  sepal.width  petal.length  petal.width
134           6.1          2.6           5.6          1.4
58            6.6          2.9           4.6          1.3
115           6.4          3.2           5.3          2.3
63            6.1          2.9           4.7          1.4
43            5.0          3.5           1.6          0.6
126           6.2          2.8           4.8          1.8
118           7.7          2.6           6.9          2.3
17            5.1          3.5           1.4          0.3
27            5.2          3.5           1.5          0.2
5             5.4          3.9           1.7          0.4
82            5.8          2.7           3.9          1.2
25            5.0          3.0           1.6          0.2
139           6.9          3.1           5.4          2.1
83            6.0          2.7           5.1          1.6
96            5.7          2.9           4.2          1.3
145           6.7          3.0           5.2          2.3
36            5.5          3.5           1.3          0.2
61            5.9          3.0           4.2          1.5
26            5.0          3.4           1.6          0.4
89            5.5          2.5           4.0          1.3
79            5.7          2.6           3.5          1.0
132           6.4          2.8           5.6          2.2
2             4.7          3.2           1.3          0.2
140           6.7          3.1           5.6          2.4
138           6.0          3.0           4.8          1.8
78            6.0          2.9           4.5          1.5
38            4.4          3.0           1.3          0.2
119           6.0          2.2           5.0          1.5
4             5.0          3.6           1.4          0.2
75            6.6          3.0           4.4          1.4

In [29]:
y_train

33        Setosa
116    Virginica
3         Setosa
141    Virginica
9         Setosa
         ...
8         Setosa
45        Setosa
121    Virginica
16        Setosa
146    Virginica
Name: variety, Length: 120, dtype: object

In [30]:
y_test

134     Virginica
58     Versicolor
115     Virginica
63     Versicolor
43         Setosa
126     Virginica
118     Virginica
17         Setosa
27         Setosa
5          Setosa
82     Versicolor
25         Setosa
139     Virginica
83     Versicolor
96     Versicolor
145     Virginica
36         Setosa
61     Versicolor
26         Setosa
89     Versicolor
79     Versicolor
132     Virginica
2          Setosa
140     Virginica
138     Virginica
78     Versicolor
38         Setosa
119     Virginica
4          Setosa
75     Versicolor
Name: variety, dtype: object

In [31]:
len(y_test)

30

In [32]:
lr=LogisticRegression()
lr

LogisticRegression()

In [33]:
lr.fit(X_train,y_train)

LogisticRegression()

In [34]:
y_pred=lr.predict(X_test)

In [35]:
y_pred

array(['Virginica', 'Versicolor', 'Virginica', 'Versicolor', 'Setosa',
       'Virginica', 'Virginica', 'Setosa', 'Setosa', 'Setosa',
       'Versicolor', 'Setosa', 'Virginica', 'Virginica', 'Versicolor',
       'Virginica', 'Setosa', 'Versicolor', 'Setosa', 'Versicolor',
       'Versicolor', 'Virginica', 'Setosa', 'Virginica', 'Virginica',
       'Versicolor', 'Setosa', 'Virginica', 'Setosa', 'Versicolor'],
      dtype=object)

In [36]:
accuracy_score(y_pred,y_test) * 100

96.66666666666667

In [37]:
url2=r"https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"

In [38]:
data2=pd.read_csv(url2)
data2

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [49]:
data2=data2.drop(columns=['sex','smoker','day','time'])

In [50]:
data2

     total_bill   tip  size
0         16.99  1.01     2
1         10.34  1.66     3
2         21.01  3.50     3
3         23.68  3.31     2
4         24.59  3.61     4
..          ...   ...   ...
239       29.03  5.92     3
240       27.18  2.00     2
241       22.67  2.00     2
242       17.82  1.75     2
243       18.78  3.00     2

[244 rows x 3 columns]

In [51]:
X=data2.drop(columns='tip')

In [52]:
X

     total_bill  size
0         16.99     2
1         10.34     3
2         21.01     3
3         23.68     2
4         24.59     4
..          ...   ...
239       29.03     3
240       27.18     2
241       22.67     2
242       17.82     2
243       18.78     2

[244 rows x 2 columns]

In [53]:
y=data2['tip']

In [54]:
y

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [55]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [56]:
X_train

     total_bill  size
140       17.47     2
114       25.71     3
238       35.83     3
220       12.16     2
234       15.53     2
..          ...   ...
22        15.77     2
150       14.07     2
48        28.55     3
233       10.77     2
129       22.82     3

[195 rows x 2 columns]

In [57]:
X_test

     total_bill  size
78        22.76     2
58        11.24     2
185       20.69     5
133       12.26     2
107       25.21     2
161       12.66     2
36        16.31     3
61        13.81     2
231       15.69     3
196       10.34     2
82        10.07     1
175       32.90     2
236       12.60     2
118       12.43     2
125       29.80     6
46        22.23     2
86        13.03     2
119       24.08     4
224       13.42     2
56        38.01     4
165       24.52     3
40        16.04     3
211       25.89     4
159       16.49     4
28        21.70     2
85        34.83     4
122       14.26     2
151       13.13     2
178        9.60     2
146       18.64     3
219       30.14     4
134       18.26     2
37        16.93     3
49        18.04     2
112       38.07     3
111        7.25     1
27        12.69     2
81        16.66     2
71        17.07     3
143       27.05     6
102       44.30     3
205       16.47     3
20        17.92     2
34        17.78     2
39        31.27     3
199       13.51     2
108       18.24     2
221       13.42     2
222        8.58     1

In [58]:
y_train

140    3.50
114    4.00
238    4.67
220    2.20
234    3.00
       ...
22     2.23
150    2.50
48     2.05
233    1.47
129    2.18
Name: tip, Length: 195, dtype: float64

In [59]:
y_test

78     3.00
58     1.76
185    5.00
133    2.00
107    4.29
161    2.50
36     2.00
61     2.00
231    3.00
196    2.00
82     1.83
175    3.11
236    1.00
118    1.80
125    4.20
46     5.00
86     2.00
119    2.92
224    1.58
56     3.00
165    3.48
40     2.24
211    5.16
159    2.00
28     4.30
85     5.17
122    2.50
151    2.00
178    4.00
146    1.36
219    3.09
134    3.25
37     3.07
49     3.00
112    4.00
111    1.00
27     2.00
81     3.40
71     3.00
143    5.00
102    2.50
205    3.23
20     4.08
34     3.27
39     5.00
199    2.00
108    3.76
221    3.48
222    1.92
Name: tip, dtype: float64

In [61]:
from sklearn.linear_model import LinearRegression

In [62]:
lr=LinearRegression()
lr

LinearRegression()

In [63]:
lr.fit(X_train,y_train)

LinearRegression()

In [64]:
y_pred=lr.predict(X_test)

In [65]:
y_pred

array([3.19256365, 2.0323615 , 3.51325353, 2.13508773, 3.43930803,
       2.17537253, 2.7193592 , 2.29119132, 2.65691776, 1.9417207 ,
       1.73814056, 4.21378325, 2.16932981, 2.15220877, 4.60712767,
       3.13918629, 2.21263596, 3.67827928, 2.25191364, 5.08119733,
       3.54620465, 2.69216696, 3.86056798, 2.91387526, 3.08580893,
       4.76093319, 2.33651171, 2.22270716, 1.86719383, 2.95401814,
       4.28859395, 2.73935968, 2.78180063, 2.71720304, 4.91085215,
       1.45413275, 2.17839389, 2.57822049, 2.79590031, 4.3301697 ,
       5.53828786, 2.73547312, 2.7051176 , 2.69101793, 4.2260106 ,
       2.26097772, 2.73734544, 2.25191364, 1.5880797 ])

In [68]:
from sklearn.metrics import r2_score
r2_score(y_pred,y_test)*100

-0.32912248360967844